.all-data {
   height: 100%;
   background-color: $backgroundColor;
   max-width: 1366px;
   padding: 20px;
   margin: auto;

   .all-data__table {
      padding: 10px 0px;

      .animation-data {
         animation: fadeIn 500ms;

         &--disabled {
            opacity: 0;
            animation: fadeOut 500ms;
         }
      }
   }
}

.group-action {
   display: inline-flex;

   .btn-unlike {
      transform: rotateX(180deg);
   }
}

.last-header-col {
   padding-left: 28px !important;
}