@font-face {
   font-family: 'Inter-Bold';
   src: url('../assets/fonts/Inter/Inter-Bold.otf');
   font-display: swap;
}

@font-face {
   font-family: 'Inter-Regular';
   src: url('../assets/fonts/Inter/Inter-Regular.otf');
   font-display: swap;
}

@font-face {
   font-family: 'Inter-Medium';
   src: url('../assets/fonts/Inter/Inter-Medium.otf');
   font-display: swap;
}

@font-face {
   font-family: 'Inter-SemiBold';
   src: url('../assets/fonts/Inter/Inter-SemiBold.otf');
   font-display: swap;
}

html body {
   margin: 0 !important;
   font-family: $fontRegular,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   color: $colorBlack;
   font-size: 14px;
   background-color: $backgroundColor;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   min-height: -webkit-fill-available;
}

*,
::after,
::before {
   box-sizing: border-box;
}

button,
input,
textarea,
div,
span {
   &:focus {
      outline: 0 !important;
   }
}

.common-btn {
   width: 48px;
   height: 48px;
   display: grid;
   align-items: center;
   justify-content: center;
   padding: 6px;
   border-radius: 50%;
   transition: $commonTransition;
   margin: 0px 8px;

   &:hover {
      background-color: $colorBlack10;
      cursor: pointer;
   }
}