.header-main {
   position: sticky;
   top: 0px;
   left: 0px;
   bottom: 0px;
   min-height: 53px;
   border-bottom: 1px solid $borderColor;
   z-index: 3;
   background-color: $white;
   width: 100%;
   margin: auto;

   .header-main__content {
      display: flex;
      max-width: 1366px;
      margin: auto;
      min-height: inherit;

      .header-main__tab {
         text-decoration: none !important;
         color: $disableText;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0px 20px;

         &:hover {
            background-color: $colorBlack10;
            transition: $commonTransition;
         }

         &--actived {
            @extend .header-main__tab;
            color: $colorBlack;

            &:hover {
               background-color: $white;
            }
         }
      }
   }
}