.table-pagination {
   width: 100%;
   height: 48px;
   border: 1px solid $colorBlack40;
   border-top: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 20px;

   .table-pagination__next-previous {
      display: flex;
      align-items: center;

      .btn-common {
         cursor: pointer;
         margin: 0px 12px;
         padding: 8px;
         transition: $commonTransition;
         border-radius: 4px;

         &:hover {
            background-color: $backgroundHover;
         }

         &--disabled {
            @extend .btn-common;
            cursor: not-allowed;
            pointer-events: none;

            &:hover {
               background-color: transparent;
            }

            svg {
               fill: $borderColor;
            }
         }
      }

      .input-pagination {
         max-width: 32px;
         max-height: 32px;
         width: 32px;
         height: 32px;
         border-radius: 4px;
         padding: 4px;
         border: 1px solid $colorBlack10;
         text-align: center;
         transition: $commonTransition;

         &:focus {
            border: 1px solid $colorBlack;
         }

         &__error {
            @extend .input-pagination;
            border: 1px solid red;

            &:focus {
               border: 1px solid red !important;
            }
         }
      }
   }
}