.search-box-main {
   max-width: 312px;
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   border: 1px solid $colorBlack10;
   border-radius: 4px;
   background-color: $white;
   padding-right: 12px;

   .ic-search {
      margin: 8px;
   }

   input {
      border: unset !important;
      width: 100%;
   }
}

.btn-cancel {
   display: inline-flex;
   cursor: pointer;
}