.table-responsive {
   position: relative;

   &.table-disabled {
      background-color: white;
      opacity: 0.5;
      cursor: progress;
      pointer-events: none;
   }

   .table-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: not-allowed;
   }

   .container-table {
      width: inherit;
      border: 1px solid $colorBlack40;



      tbody {
         display: block;
         height: calc(100vh - 184px);
         overflow: auto;
         position: relative;
      }

      thead,
      tbody tr {
         display: table;
         width: 100%;
         table-layout: fixed;
      }

      .table-row-header {
         .header-col {
            padding: 8px 12px;
            word-break: break-word;
            font-weight: unset;
            background-color: $colorBlack;
            color: $white;

            &.first-col {
               padding-left: 24px;
            }

            &.last-col {
               padding-right: 24px;
            }
         }
      }

      .table-row {
         border-bottom: none;
         transition: all .2s ease;

         &:hover {
            .super-col {
               background-color: $backgroundHover;
               transition: $commonTransition;
            }
         }

         .super-col {
            padding: 8px 12px;
            word-break: break-word;

            &.first-col {
               padding-left: 24px;
            }

            &.last-col {
               padding-right: 24px;
            }
         }

         .super-row-no-data {
            text-align: center;
            padding: 20px 0px;
         }
      }
   }
}