$colorBlack : #000000;
$white : #ffffff;
$colorBlack10 : rgba(0, 0, 0, 0.1);
$colorBlack40: rgba(0, 0, 0, 0.4);
$borderColor: #dbdbdb;
$backgroundColor : #fafafa;
$backgroundHover:#e6e6e6;
$disableText : #8e8e8e;
$commonTransition: all 0.2s ease-in-out;
$fontRegular: 'Inter-Regular',
'Arial';
$fontMedium: 'Inter-Medium',
'Arial';
$fontBold: 'Inter-Bold',
'Arial';
$fontSemiBold: 'Inter-SemiBold',
'Arial';